﻿@using DemoVNPay.Models
@model CreateBookingRequestModel

@{
    ViewBag.Title = "Home Page";
}
<div style="padding-top:150px">
    <h3 style="text-align:center;">Kiểm tra thông tin trước khi thanh toán</h3>
    <div>
        <form style="margin-left:430px" action="/Home/Payment" method="post">
            <label>Họ tên:</label><br>
            <input style="width:700px; height:40px" disabled value="@Model.CustomerName"><br>
            <label>Email:</label><br>
            <input style="width:700px; height:40px" disabled value="@Model.CustomerEmail"><br>
            <label>Số Điện thoại:</label><br>
            <input style="width:700px; height:40px" disabled value="@Model.CustomerPhone"><br>
            <label>Tổng tiền thanh toán:</label><br>
            <input style="width:700px; height:40px" disabled value="@Model.TotalPaymentAmount"><br>
            <br>
            <input type="submit" value="Thanh toán" />
        </form>
    </div>

</div>
